@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --blue: #102542;
    --salmon: #F87060;
    --platinum: #F1E3E4;
    --platinum-rgb: 241, 227, 228;
    --wine: #7E1946;
    --wine-rgb: 126, 25, 70;
    --light-blue: #0081AF;
}

body {
    background-color: var(--platinum);
    margin: 0;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

#fullContainer {
    position: relative;
}

p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

#navigation {
    transition: .5s;
    position: relative;
    padding: 1em;
    padding-bottom: 0;
    background-color: var(--platinum);
    color: var(--blue);
    border-bottom: #7E1946 solid 2px;
}

#navigation:hover {
    transition: .5s;
    box-shadow: rgba(var(--platinum-rgb), 0.7) 0px 0px 8px;
}

#navigation h1 {
    display: inline;
    font-weight:700;
    color: var(--wine)
}

#navigation li {
    transition: .2s;
    padding: .5em;
    display: inline;
    color: var(--wine);
}

#navigation li:hover {
    transition: .2s;
    color: var(--platinum);
    background-color: var(--wine);
    /*box-shadow: rgba(var(--wine-rgb), 0.7) 0px 0px 4px;*/
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navBar {
    width: 900px;
    position: relative;
    margin: auto;
    padding-top: 4em;
}

#navBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    position: absolute;
    bottom: .5em;
    right: 0;
}

#pageContainer {
    width: 400px;
    background-color: var(--wine);
    padding: 2em;
    margin: auto;
    text-align: center;
}

.button {
    transition: .2s;
    display: inline;
    padding: .5em;
    color: inherit;
    border: var(--wine) solid 2px;
}

.button:hover {
    transition: .2s;
    background-color: var(--wine);
    color: var(--platinum);
}

.button a {
    color: inherit;
}

#shortcutContainer {
    transition: .5s;
    width: calc(900px - 4em);
    background-color: var(--wine);
    padding: 2em;
    margin: auto;
    margin-top: 2em;
}

#shortcutContainer:hover {
    transition: .5s;
    box-shadow: rgba(var(--wine-rgb), 0.7) 0px 0px 4px;
}

.shortcut {
    transition: .2s;
    margin: 1em;
    padding: 2em;
    background-color: var(--platinum);
    color: var(--wine);
}

.shortcut:hover {
    transition: .2s;
    box-shadow: rgba(var(--platinum-rgb), 0.7) 0px 0px 8px;
}

.shortcut a {
    color: var(--wine)
}

form input {
    width: 100%;
    height: 1.5em;
    padding-block: 0;
    padding-inline: 0;
    padding: .2em;
    border: var(--salmon) solid 1px;
    margin-bottom: .5em;
}

form input[type=submit] {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    background-color: var(--platinum);
    color: var(--wine);
    font-weight: 700;
}